1.What are data structures, and why are they important?
 - Data structure is a way of organizing, storing, and managing data.
   - Efficiency
   - Organized data managemant
   - Reusability
   - Scalability
   - Problem solving
    
2.Explain the difference between mutable and immutable data types with examples
 - Mutable type
   - object whose value can be change after they are created.
   - you can modify.

In [ ]:
num = [1,2,3]
num[0] = 10
num.append(4)
print(num)

[10, 2, 3, 4]

 - Immutable type
  - object whose value cannot be change after thay are created.
  - you cannot modify, New object created.

In [ ]:
num = (1,2,3)
print(num)

(1, 2, 3)

3.What are the main differences between lists and tuples in Python?
 - List is mutable value of list can changeble.
 - Tuple is unmutable it cannot be changeble.

4.Describe how dictionaries store data?
 - Dictionaries in Python store data in a hash table using key–value pairs, which makes searching, inserting, and deleting data very fast and efficient.

5.Why might you use a set instead of a list in Python?
 - use set when need unique elements, fast membership tests, or set operations.
 - use list when need ordered data, duplicates, or index-based access.

6.What is a string in Python, and how is it different from a list?
 - string in Python is a sequence of characters enclosed in single, double, or triple quotes.
  - String: Stores characters (text).
  - List: Stores a collection of any type (numbers, strings, even other lists).

7.How do tuples ensure data integrity in Python?
 - Tuples are like a sealed container once packed, no one can alter the contents, which guarantees the data stays exactly as intended.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key–value pairs and allows very fast lookups, insertions, and deletions.
  - A dictionary (dict) is implemented using a hash table.
  - Keys are hashed, and their values are stored in slots determined by the hash.

9.Can lists contain different data types in Python?
 - Yes, lists can contain different data types in Python, Python has dynamic typing and object model.

10.Explain why strings are immutable in Python?
 - Strings in Python are immutable because it:
   - Saves memory (interning).
   - Makes them usable as dictionary keys.
   - Ensures safety (no accidental changes).
   - Provides thread-safety and predictability.

11.What advantages do dictionaries offer over lists for certain tasks?
 -  

12.Describe a scenario where using a tuple would be preferable over a list.
 - Use a tuple over a list when:
  - immutable (unchangeable) data.
  - it as a dictionary key or set element.
  - The data is a fixed collection of items that belong together.
  - faster performance and less memory usage.

- Tuples are best for fixed, read-only, constant data.

13.How do sets handle duplicate values in Python?
 - Sets do not allow duplicates.
 - Duplicates are removed automatically when creating or updating a set.
 - This makes sets useful for tasks like:
   - Removing duplicates from a list.
   - Checking membership efficiently.

14.How does the “in” keyword work differently for lists and dictionaries?
 - 'in' with Lists
  - Checks whether a value is present in the list.
  - It scans elements one by one until it finds a match.

 - 'in' with Dictionaries
  - By default, in checks for the presence of a key.
  - Checking is fast because dictionaries use hash tables.

15.Can you modify the elements of a tuple? Explain why or why not.
  - No, cannot modify the elements of a tuple directly because tuples are immutable in Python.
   - Data integrity → Tuples are meant to store fixed collections of items that should not be altered.
   - Hashability → Since tuples can’t change, they can be used as dictionary keys or set elements, unlike lists.
   - Performance → Tuples are faster and more memory-efficient than lists because Python can optimize their storage knowing they won’t change.

16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary inside another dictionary.
   - The outer dictionary stores keys, and its values can themselves be dictionaries.
   - This allows storing hierarchical (multi-level) data in a structured way.

In [ ]:
company = {
    "HR": {"Manager": "Alice", "Employees": 5},
    "IT": {"Manager": "Bob", "Employees": 10},
    "Sales": {"Manager": "Charlie", "Employees": 7}
}

print(company["IT"]["Manager"])

Bob

17.Describe the time complexity of accessing elements in a dictionary.
 -

18.In what situations are lists preferred over dictionaries?
 - lists when you care about order, duplicates, or index-based access, and dictionaries when you need key–value pairs and fast lookups.

19.Why are dictionaries considered unordered, and how does that affect data retrieval.
 -

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 - List Retrieval
  - Access by Index (Position)
    - Lists are ordered, so you retrieve items using their numeric index.
    - Indexing is O(1) (very fast).
 - Dictionary Retrieval
   - Access by Key
    - Dictionaries are designed for key-based lookups, not by position.
    - Retrieving a value by key is O(1) on average (very efficient).

In [ ]:
#practical question
#1.Write a code to create a string with your name and print it
name = "Tanik"
type(name)

str

In [ ]:
#2.Write a code to find the length of the string "Hello World"
name = "Hello World"
len(name)

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
name = "Python Programming"
new_name = name[:3]
print(new_name)

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
line = "I like apple"
new_line = line.replace("apple","orange")
print(new_line)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c' ,'d']
secound = list[1]
print(secound)

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
num = (100, 200, 300)
print(num)
type(num)

(100, 200, 300)

tuple

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
list = ('red', 'green', 'blue', 'yellow')
second = list[-2]
print(second)

blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
minimum = min(num)
print(minimum)

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal = ('dog', 'cat', 'rebbit')
new = animal.index("cat")
print(new)

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
list = ('mango', 'apple', 'kiwi', 'banana')
if 'kiwi' in list:
  print('kiwi is in list')
else:
  print('kiwi is not in list')

kiwi is in list

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
details = {
    "name": "tanik",
    "age": "23",
    "city": "umbergaon"
}
print(details)

{'name': 'tanik', 'age': '23', 'city': 'umbergaon'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
details = {"name": "john","age": "25"}
details["country"] = "USA"
print(details)

{'name': 'john', 'age': '25', 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
details = {"name": "alice","age": "30"}
print(details["name"])

alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
details = {"name": "Bob", "age": "22", "city": "New York"}
del details["age"]
print(details)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
details = {'name': 'Alice', 'city': 'Pairs'}
if "city" in details:
  print("'city' is in list")
else:
  print("'city' is not in list")

'city' is in list

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
tuple = ('apple', 'banana', 'kiwi',)
dictionary = {'name': 'Alice', 'city': 'Paris', 'age': '25'}
print("list:", list, "tuple:", tuple, "dictionary:", dictionary)

list: [1, 2, 3, 4, 5] tuple: ('apple', 'banana', 'kiwi') dictionary: {'name': 'Alice', 'city': 'Paris', 'age': '25'}

In [1]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replace).
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print("sorted list:", numbers)

sorted list: [10, 35, 36, 42, 53]

In [2]:
#28.Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print("Element at third index:", fruits[3])

Element at third index: mango

In [3]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}
combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [4]:
#30.Write a code to convert a list of strings into a set.
ruits = ["apple", "banana", "cherry", "apple", "mango"]
fruits_set = set(fruits)
print("Set:", fruits_set)

Set: {'banana', 'apple', 'cherry', 'orange', 'mango'}